h2 {
  line-height: 36px;
  padding-left: 40px;
}

h3 {
  line-height: 32px;
  padding-left: 40px;
}

ul {
  padding-left: 1.5em;
}

#layout {
  min-width: 300px;
}

#header {
  margin: 2em auto 0;
}

#main {
  padding: 0 1em;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

#nav {
  padding: 0.7em;
}

#nav ul {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  line-height: 1.5em;
  margin: 0 0.5em;
}

.schedule-time,
.schedule-activity {
  padding: 0.5em;
}

.schedule-time {
  width: 6em;
}

.teacher-avatar {
  float: left;
  margin-right: 1em;
  height: 100px;
  width: 100px;
}

#contact dd {
  margin: 0 0 1em 0;
}

.gallery-list {
  padding: 0;
}

.gallery-button {
  border: none;
  padding: 0.5em 0;
}

/* Same as default media query for `md` */
@media (min-width: 48em) {
  #header {
    margin: 40% 0 2em;
  }

  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  #main {
    /* 37.5% derived from #sidebar class .pure-u-md-3-8 where 3/8 => 0.375 */
    margin-left: 37.5%;
    padding: 0 3em;
  }

  .nav-item {
    display: block;
    line-height: 3em;
    margin: 0 auto;
  }

  .schedule-time,
  .schedule-activity {
    padding: 0.5em;
  }
}
