body {
  background-image: url(../../static/images/wallpaper_hiyoko.gif);
  color: #444;
}

h1, h2, h3 {
  color: #fc0606;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #0099cc;
  text-decoration: none;
}

#sidebar {
  background-color: rgba(239, 255, 239, 0.9);
  text-align: center;
}

#main {
  background-color: rgba(255, 255, 255, 1);
}

.brand-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.brand-tagline {
  font-size: 1em;
  font-weight: 300;
  color: #777;
}

@media (min-width: 48em) {

  .brand-title {
    font-size: 2em;
  }

  .brand-tagline {
    font-size: 1.5em;
  }

  .nav-item:before,
  .nav-item:after {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.7em;

    /* 2em is 32px for base pixel of 16px */
    width: 2em;
    height: 2em;
  }

  .nav-item:nth-child(n+1):before,
  .nav-item:nth-child(n+1):after {
    background: url(../../static/images/icon_hiyoko_blue.gif) no-repeat;
  }

  .nav-item:nth-child(2n+1):before,
  .nav-item:nth-child(2n+1):after {
    background: url(../../static/images/icon_hiyoko_darkblue.gif) no-repeat;
  }

  .nav-item:nth-child(3n+1):before,
  .nav-item:nth-child(3n+1):after {
    background: url(../../static/images/icon_hiyoko_orange.gif) no-repeat;
  }

  .nav-item:nth-child(4n+1):before,
  .nav-item:nth-child(4n+1):after {
    background: url(../../static/images/icon_hiyoko_red.gif) no-repeat;
  }

}
