body {
  background-image: url(../../static/images/wallpaper_hiyoko.gif);
  color: #444;
}

h1, h2, h3 {
  color: #fc0606;
  font-weight: 400;
}

h2 {
  background: url(../../static/images/icon_hitode.gif) no-repeat;
  line-height: 36px;
  padding-left: 40px;
}

h3 {
  background: url(../../static/images/icon_kani.gif) no-repeat;
  line-height: 32px;
  padding-left: 40px;
}

a {
  color: #0099cc;
  text-decoration: none;
}

#sidebar {
  background-color: rgba(239, 255, 239, 0.9);
  text-align: center;
}

#main {
  background-color: rgba(255, 255, 255, 1);
}

.brand-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.brand-tagline {
  font-size: 1em;
  font-weight: 300;
  color: #777;
}

@media (min-width: 48em) {

  .brand-title {
    font-size: 2em;
  }

  .brand-tagline {
    font-size: 1.5em;
  }

  /* flip icon */
  .nav-item:before {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  .nav-item:before {
    content: "";
    display: inline-block;
    position: relative;

    height: 32px;
    width: 32px;

    top: 0.7em;
    left: -1em;
  }

  .nav-item:after {
    content: "";
    display: inline-block;
    position: relative;

    height: 32px;
    width: 32px;

    top: 0.7em;
    right: -1em;
  }

  .nav-item:nth-child(n+1):before,
  .nav-item:nth-child(n+1):after {
    background: url(../../static/images/icon_hiyoko_blue.gif) no-repeat;
  }

  .nav-item:nth-child(2n+1):before,
  .nav-item:nth-child(2n+1):after {
    background: url(../../static/images/icon_hiyoko_darkblue.gif) no-repeat;
  }

  .nav-item:nth-child(3n+1):before,
  .nav-item:nth-child(3n+1):after {
    background: url(../../static/images/icon_hiyoko_orange.gif) no-repeat;
  }

  .nav-item:nth-child(4n+1):before,
  .nav-item:nth-child(4n+1):after {
    background: url(../../static/images/icon_hiyoko_red.gif) no-repeat;
  }

}
