body {
  background-image: url(../../static/images/wallpaper_hiyoko.gif);
  color: #444;
}

h2, h3 {
  color: #fc0606;
  font-weight: 400;
}

h2 {
  font-size: 1.7em;
}

a {
  color: #0099cc;
  text-decoration: none;
}

#sidebar {
  background-color: rgba(239, 255, 239, 0.9);
  text-align: center;
}

#main {
  background-color: rgba(255, 255, 255, 1);
}

.brand-title {
  color: #fc0606;
  font-size: 1.5em;
  text-transform: uppercase;
}

.brand-tagline {
  font-size: 1em;
  font-weight: 300;
  color: #777;
}

.nav-item a {
  font-weight: 700;
}

@media (min-width: 48em) {

  .brand-title {
    font-size: 2em;
  }

  .brand-tagline {
    font-size: 1.5em;
  }

}
